@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fira-sans-regular {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-regular-italic {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.hero-bold {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: rgb(248 250 252);
  --bg-black: rgb(7, 10, 20);

  --bg-sec-dark: rgb(16, 15, 19);
  --bg-sec-mid: rgb(30, 23, 36);
  --bg-sec-light: rgb(227, 230, 227);

  --purple: rgba(131, 58, 180, 1);
  --blue: rgba(24, 166, 248, 1);
  --green: rgba(78, 179, 47, 1);

  --timeline-green: rgb(109, 155, 95);
  --timeline-white: rgb(248, 255, 255);
  --timeline-gray: rgb(211, 211, 211);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: var(--primary-color);
  scroll-behavior: smooth;
}

main {
  z-index: -1;
}

/* @media only screen and (min-width: 1024px) {
  .separator {
    height: calc(100vh + 48rem);
  }
}

@media only screen and (max-width: 1023px) {
  .separator {
    height: 108rem;
  }
} */

@media only screen and (max-width: 767px) {
  :root {
    font-size: 12px;
  }
}

.backdrop {
  background: linear-gradient(
    141deg,
    rgba(3, 7, 7, 1) 0%,
    rgb(18, 2, 19) 78%,
    rgba(94, 30, 45, 1) 100%
  );
}

.black {
  background: var(--bg-black);
}

img {
  pointer-events: none;
  user-select: none;
}

.-translate-y-3\/2 {
  --tw-translate-y: -150%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/*==== FHD/UHD (6:9) Responsive Support ====*/
@media screen and (min-width: 1920px) {
  body,
  html {
    font-size: 1.6vh;
  }
}

/*==== FHD/2K (4:3) Responsive Support ====*/
@media screen and (min-width: 1900px) and (min-height: 1400px) {
  body,
  html {
    font-size: 1.5vh;
  }
}

/*==== FHD/2K (5:3) Responsive Support ====*/
@media screen and (min-width: 1900px) and (min-height: 2000px) {
  body,
  html {
    font-size: 1.25vh;
  }
}

/*==== 2K/4K (6:9) Responsive Support ====*/
@media screen and (min-width: 1990px) {
  body,
  html {
    font-size: 2vh;
  }
}
