@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.hero-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: rgb(248 250 252);
  --bg-black: rgb(7,10,20);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: var(--primary-color);
  /* background: rgb(3,7,7); */
  scroll-behavior: smooth;
}

main {
  z-index: -1;
}

@media only screen and (max-width: 810px) {
  :root {
    font-size: 12px;
  }
}

.backdrop {
  background: linear-gradient(141deg, rgba(3,7,7,1) 0%, rgb(18, 2, 19) 78%, rgba(94,30,45,1) 100%); 
}

.black {
  background: var(--bg-black);
}

img {
  pointer-events: none;
  user-select: none;
}