.aboutMe {
  z-index: 1;
}

.work {
  z-index: 3;
}

.timeline {
  z-index: 5;
}

.contact {
  z-index: 7;
}

.section-dark {
  background-color: var(--bg-sec-dark);
}

.section-mid {
  background-color: var(--bg-sec-mid);
}

.section-light {
  background-color: var(--bg-sec-light);
}

.separator-purple {
  background-color: var(--purple);
  z-index: 2;
}

.separator-green {
  background-color: var(--green);
  z-index: 4;
}