.aboutMe {
  z-index: 1;
}

.work {
  z-index: 3;
}

.timeline {
  z-index: 5;
}

.contact {
  z-index: 7;
}

.section-dark {
  background-color: rgb(16, 15, 19);
}

.section-light {
  background-color: rgb(131, 119, 167);
}

.separator-white {
  background-color: azure;
}